
@model ASP_Project.Models.OrderDetail

@{ 
    var guid = Guid.NewGuid();
}
<tr>
    <td>
        @Html.DropDownListFor(x => x.ProductId, ViewBag.products as SelectList, "-----Select-----", new { @class = "form-control singleProductEditDropdown"})
    </td>

    <td>
        @Html.EditorFor(x => x.Quantity, new { htmlAttributes = new { @class = "form-control", Type = "number", @Value = "1" } })
    </td>
    
    <td class="singleProductEditPrice">
        0.0000
    </td>
  

    <td>
        <button type="button" class="btn btn-outline-danger btn-sm single-product-edit-delete"><i class="fa fa-trash"></i></button>
    </td>

</tr>
