@model ASP_Project.Models.Buyer

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create</h1>
<h4 class="text-center">Add New Buyer</h4>


<hr />
<div class="row">
    <div class="col-md-12">
        <form id="CustomerAddForm" asp-action="Create" enctype="multipart/form-data">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BuyerName" class="control-label mt-2"></label>
                <input asp-for="BuyerName" class="form-control mt-2" />
                <span asp-validation-for="BuyerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyerAddress" class="control-label mt-2"></label>
                <input asp-for="BuyerAddress" class="form-control mt-2" />
                <span asp-validation-for="BuyerAddress" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" data-category="CRUD" id="btnCustomerEditFormSubmit" data-href="@Url.Action("Create","BuyersDetails")" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
